* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-size: cover;
    min-height: 100vh;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #6c757d;
}

a,
a:hover {
    text-decoration: none !important;
}

h1,
h2,
h3 {
    color: #1d1b1b;
}

header {
    background-color: #1d1b1b;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-area {
    width: 70vw;
    margin: auto;
}

#section-form {
    padding: 70px 0;
    background-color: #5d5e63;
}

.contact-box {
    width: 42%;
    height: 35%;
    background: rgb(172, 70, 70);
    /* margin-top: 120px;
    margin-left: 200px; */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

@media (max-width: 600px) {
    .contact-box {
        margin: 0;
        width: 100%;
    }
}

h1.form-heading {
    font-size: 28px;
    font-weight: 700;
}

.contact-area-split {
    display: inline-block;
    width: 500px;
    margin-right: 30px;
}

form {
    border: 1px solid #1b3652 !important;
    padding: 45px 15px !important;
}

form .form-element {
    display: inline-block;
    margin-right: 10px;
}

label {
    color: #000000;
    font-weight: 600;
    font-size: 20px;
}

input {
    width: 370px;
    padding: 12px 16px !important;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
}

form select {
    width: 120px;
    margin-left: 20px;
}

form textarea {
    padding: 20px;
}

form input[type="radio"] {
    width: 25px;
}

@media (max-width: 600px) {
    .contact-area-split {
        width: 400px;
        margin-right: 0px;
    }

    input {
        width: 350px;
    }
}

.form-button {
    background-color: #ffba5a;
    border-color: #ffba5a;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: 10px 36px;
    font-size: 14;
    line-height: 1.5;
    border-radius: 25px;
    color: #fff;
}

.address h1 {
    font-size: 28px;
    line-height: 1.8;
    color: #6c757d;
    font-weight: 600;
}

.address h1 span {
    font-size: 32px;
}

@media (max-width: 600px) {
    .address h1 {
        margin-top: 10px;
        font-size: 16px;
    }

    .address h1 span {
        font-size: 19px;
    }
}

#section-info {
    padding: 70px 0;
    /* background-color: #f2f4fb; */
}

h1 {
    font-weight: 600;
}